.navbar-search {
  .ant-input {
    background: #f5f5f5;
    border: 0 !important;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    &:hover,
    &:focus,
    &:focus-visible {
      border: 0 !important;
      outline: 0 !important;
      border-color: transparent !important;
      box-shadow: none !important;
    }
  }
  .ant-input-group-addon {
    cursor: pointer;
    background: #f5f5f5;
    border: 0;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    svg {
      height: 20px;
      width: 20px;
    }
  }
  .search-dropdwn {
    transform: translateY(100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    padding-inline: 48px;
    pointer-events: none;

    &.show {
      display: block;
      animation: fadeInUp 0.3s ease-in-out both;
    }

    .search-content {
      padding: 25px;
      flex-shrink: 0;
      border-radius: 20px;
      background: #f5f5f5;
      pointer-events: all;
      max-height: calc(100vh - 140px);
      overflow-y: auto;

      .search-tags {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        flex-wrap: wrap;

        .tag {
          flex-shrink: 0;
          border-radius: 109.375px;
          background: #d9d9d9;
          color: #333;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding: 4px 15px;
          text-decoration: none;
        }
      }

      .categories-products {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 14px;
        margin-top: 14px;

        &-title {
          color: #333;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 20px;
        }

        .categories {
          width: calc(50% - 8px);
          flex-shrink: 0;
          border-radius: 16px;
          background: #fff;
          padding: 18px 24px;
          .categories-item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            padding-block: 12px;
            border-bottom: 1px solid rgba(221, 221, 221, 1);

            svg {
              color: rgba(221, 221, 221, 1);
            }
          }
          .category-list {
            margin-top: 36px;
          }
        }

        .products {
          width: calc(50% - 8px);
          flex-shrink: 0;
          .top {
            border-radius: 16px;
            background: #fff;
            padding: 18px 24px;
            .prducts-wrapper {
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              flex-direction: column;
              gap: 20px;
            }
          }
          .bottom {
            margin-top: 14px;
            border-radius: 16px;
            background: #fff;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            height: 173px;

            img {
              width: 70%;
            }
          }
        }
      }
    }
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(80%);
    opacity: 0;
  }
  to {
    transform: translateY(100%);
    opacity: 1;
  }
}
