.lang-select {
  .ant-select {
    border-radius: 12px !important;
    height: 38px;
    width: 38px;
    &-selector {
      padding: 10px !important;
      background-color: #f5f5f5 !important;
      border: 0 !important;
      border-radius: 12px !important;

      &:hover {
        background-color: #ea2427 !important;
        .ant-select-selection-item {
          color: #fff !important;
        }
      }
    }
    &-selection-item {
      color: #333;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.lang-select-dropdown {
  padding: 2px;
  .ant-select-item {
    padding: 0 !important;
    height: 34px;
    width: 34px;

    &-option-selected {
      .ant-select-item-option-content {
        background-color: #ea2427;
        color: #fff;
      }
    }
    .ant-select-item-option-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      font-family: Poppins;
      border-radius: 8px;
    }
  }
}
