.navbar-notification-button {
  position: relative;
  display: inline-block;

  .notification-button {
    width: 38px;
    height: 38px;
    border-radius: 12px;
    background: #f5f5f5;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      color: #000;
    }

    &:hover {
      background-color: #ea2427;
      svg {
        color: #fff;
      }
    }
  }

  .notification-count {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
    border-radius: 14px;
    background: #ea2427;
    transform: translate(25%, -25%);
    color: #fff;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
